<% include ./partials/header %>

<div class="container">
    
    <form>
    <h1>Contact us for more information</h1>   
    <p>Have a question about CCA or any of its towers? If soo, just fill out the form and we will be in contact.</p>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Phone Number">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<% include ./partials/footer %>