<% include ./partials/header %>
<div class="container">
    
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Catalyst Consulting Association</h1>
        <p class="lead">Delivering the Tools for the Experience before the Experience</p>
      </div>
    </div>



    <!--Mission and Vision div-->
    <div class="row">
        <div class="col">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Our Mission</strong></h4>
                    <p class="card-text">Develop a distinct group of students by providing them with a set of tools to solve a variety of problems using a consulting approach and apply interdisciplinary knowledge and skills.</p>
                </div>
            </div>
          
        </div>
        <div class="col">
           <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Our Vision</strong></h4>
                    <p class="card-text">To expose the professional opportunities that the area of consulting provides to establish a better understanding of its benefits and promote cross-functional teams amongst the student body of the University of Puerto Rico, Mayagüez Campus</p>
                </div>
            </div>
        </div>
    </div>
    
    <!--Towers description div-->
    
    <div class="subtitle">
        <h1>Towers</h1>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card" style="width: 15.5rem;">
                <div class="card-body">
                    <h4 class="card-title" style="margin-top: 5%"><strong>Operations</strong></h4>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <p class="card-text">This tower focuses on the technological aspect of CCA. This tower focuses on the technological aspect of CCA.</p>
                    <button type="button" class="btn btn-danger">Learn more</button>
                </div>
            </div>
          
        </div>
        <div class="col">
           <div class="card" style="width: 15.5rem;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Digital Solutions</strong></h4>
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    <p class="card-text">This tower focuses on the technological aspect of CCA. This tower focuses on the technological aspect of CCA.</p>
                    <button type="button" class="btn btn-danger">Learn more</button>
                </div>
            </div>
        </div>
        
        <div class="col">
           <div class="card" style="width: 15.5rem;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Recruitment & Development</strong></h4>
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <p class="card-text">This tower focuses on the technological aspect of CCA. This tower focuses on the technological aspect of CCA.</p>
                    <button type="button" class="btn btn-danger">Learn more</button>
                </div>
            </div>
        </div>
        
        <div class="col">
           <div class="card" style="width: 15.5rem;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Consulting Services</strong></h4>
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <p class="card-text">This tower focuses on the technological aspect of CCA. This tower focuses on the technological aspect of CCA.</p>
                    <button type="button" class="btn btn-danger">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
