body {
  background: #131414;
  margin: auto;
  font-family: 'Nunito Sans', sans-serif;
  color: #0c0c0c;
}


ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  position: fixed;
  background: white;
}

#logo{
  float: left;
}


li {
  margin: 0;
  float: right;
  padding: 15px;
  background: white;
  color: lightcoral;
}

li:hover {
  margin: 0;
  float: right;
  border: 1px solid none;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #ea604c;
  color: white;
}

a:hover{
  color: white;
}

li a {
    display: block;
    color: lightcoral;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: none;
}


#banner {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #902923;
  text-align: center;
  /*margin-top: -21px;*/
  color: white;
  padding-top: 10%;
  padding-bottom: 19%;
  letter-spacing: 10px;
}

#banner h1 {
  font-size: 8vh;
  margin-top: 10%;
}

#banner p {
  font-size: 4vh;
  padding-right: 1vw;
  padding-left: 1vw;
}

#about-us-banner {
  color: white;
  margin: auto;
  height: 100vh;
  padding: 10%;
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  text-align: center;
  background: #c7c7c7;
}

#about-us-banner p {
  width: 100%;
  margin-top: 0%;
  font-size: 3vh;
  display: block;
  padding-bottom: 3%;
  
}

#about-us-banner h2{
  font-size: 10vh;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 0%;
  display: block;
  }

#shadow {
  margin: none;
  padding:none;
  box-shadow:  30px 10px 30px rgb(109, 109, 109), -30px 10px 30px rgb(109, 109, 109);
}

#mission {
  color: black;
  background: #ff5f52;
  height: 100vh;
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  /*border-right: 30px;
  border-right-width: solid;
  border-right-color: rgb(0, 9, 56);*/
  box-shadow: 20px 40px 10px #ff5e5283;

}
#vision {
  color: white;
  background: #b4352f;
  height: 100vh;
  width: 50%;
  display: block;
  float: right;
  text-align: center;
  /*border-left-width: 30px;
  border-left: solid;
  border-left-color: rgb(0, 9, 56);*/
  box-shadow: 20px 40px 10px #b4332f71;
  

}
#mission h2{
  margin-top: 14vh;
}
#vision h2{
  margin-top: 14vh;
}
#mission p {
  margin: 4vh;
  font-size: 4vh;
}
#vision p{
  margin: 4vh;
  font-size: 4vh;
}

#mission-banner h2 {
  font-size: 10vh;
  letter-spacing: 2px;

}

/*Towers*/
#towers {
  width: 100%;
  text-align: center;
  background: #2B2D42;
  color: white;
  padding-bottom: 100px;
}
#tower-header {
  padding-top: 1%;
  font-size: 28px;
}

#tower-header h2 {
  border-bottom: 1px solid white;
  width: 15%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  letter-spacing: 2px;
}

.tower-banner {
  background: #8D99AE;
  width: 35%;
  height: 40rem;
  margin:auto;
  margin: 1%;
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #8D99AE;

}

.tower-banner h3{
  font-size: 25px;
  margin-bottom: -3%;
}

.tower-banner p {
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

img {
  height: 180px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: auto;
  border-radius: 3px;
}

button {
  border: none;
  background: white;
  width: 25%;
  height: 10%;
  margin: auto;
  font-size: 16px;
  border-radius: 8px;
  color: black;
}

button:hover {
  background: lightgray;
  text-decoration: none;
}

#credits {
  text-align: center;
  padding: 5%;
  font-size: 20px;
  background-color: #8D99AE;



}

@media only screen and (min-width: 150px) and (max-width:480px) and (orientation: portrait){
  /*Banner*/
  #banner {
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 1%;
    padding-right: 1%;
    letter-spacing: normal;
  }

  #banner h1 {
    font-size: 30vh;
  }

  #banner p {
    font-size: 12px;
    width: 100%;
  }

  /*About Us Banner*/
  #about-us-banner h2{
    font-size: 30px;
  }

  #about-us-banner p {
    font-size: 12px;
    width: 90%;
    margin: auto;
  }

  /*Mission Banner*/
  #mission-banner {
    width: auto;
  }

  #mission-banner p {
    width: 90%;
    margin: auto;
  }

  #mission-banner h2 {
    font-size: 35px;
    letter-spacing: 2px;

  }

  /*Towers*/
  .tower-banner {
    display: inline-grid;
    width: 90%;
    margin: auto;
    margin: 3%;
    height: 42rem;
    border: 2px solid #F1998D;
  }

  #tower-header h2{
    width: 30%;
  }

  img {
    margin: auto;
  }

  button{
    width: auto;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  #credits {
    font-size: 10px;


  }
}
  /*Iphone 5 and galaxy s5*/
@media only screen and (min-width: 150px) and (max-width:320px) and (orientation: portrait){
  ul{
    font-size: 10px;
  }

  img {
    height: 150px;
  }

}
/* Ipad*/
@media only screen and (min-width: 600px) and (max-width:1000px) and (orientation: portrait){
  .tower-banner{
    width: auto;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
  }

  .img {
    height: 180px;
  }
}

/*Ipad pro*/
@media only screen and (min-width: 900px) and (max-width:1040px) and (orientation: portrait){
  button {
    width: 35%;
  }

}
